@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.content-font {
  font-family: 'Poppins', sans-serif;
}
.breadcrumb-size {
  font-size:14px;
}
.question-font-size {
  font-size:14px;
}
.breadcrumb-color {
  /* outline:3px solid #86BC25; */
  background-color: #86BC25;
  color:white;
}
.login-button {
  background-color: #86BC25;
}
.icon-color {
  color: #86BC25;
}
.round-edge {
  border-radius:20px;
}
.info-button-shape {
  border-radius:50px;
}
.icon {
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 20px;
    color: #C4D600;
    height: 100%;

}
input, select {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 12px;
    line-height: 20px;
    outline: 0;
    display: block;
    width: 100%;
    border-radius:10px;
}
.form-input {
    margin: 10px auto;
    position: relative;
}
.form-outer {
    max-width: 500px;
    font-size:14px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #86BC25;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* NEW CHANGES 10.27.2021 */
.comments-color {
  color: #0097A9;
}

/* RADAR CHART */
body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 2rem
}

.card {

    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card {

    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
    width: 10000px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .100)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box
}
