@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
*::-webkit-scrollbar {
    display: none;
}

input[type=checkbox]{
    width: 100px;
  height: 13px;
}
input[type=text]{
    overflow-x: scroll;

    /* overflow-x: auto; */
}

input[type=text]:hover {
   outline: auto;
}
textarea
{

    height: auto;
    /* overflow: hidden; */
    border: none;
    resize: none;
}

.navbar{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar .navbar-brand img{
    width: 120px;
    height: 59px;
    margin-right: 10px;
    margin-top:-5px ;
    margin-left: -160%;
}

.navbar .navbar-brand .text{
    color: greenyellow;
    font-size: 25px;
    margin-left: 10px;

}

.navbar .navbar-brand small{
    font-size: 10px;
    color: greenyellow;
}

.navbar .navbar-brand span{
    font-size: 30px;
}
.navbar .navbar-text a,li,i
{
    text-decoration: none;
    color: white;
    text-align: center;
    width: 50px;
    margin-right: 10px;
    list-style: none;
}
.navbar .navbar-text li i{
    border-radius: 53%;
    border: 1px solid white;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    align-content: center;
    font-size: 13px;

}
.navbar .navbar-text ul
{
    display: flex;
    /* margin-left: 100px; */
}

.navbar .navbar-text .text{
    font-size: 14px;
}

/* side bar */

.wrapper {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

#sidebar {
    min-width: 380px;
    max-width: 380px;
    min-height: 84vh;
    background: black;
    color: #fff;
    padding-left: 20px;
}

#sidebar .box{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: grey;
	padding: 10px;
    width: 260px;
    height: 35px;
}

::placeholder{
color: white;
}

#sidebar .box button,#sidebar .box #form1{
    border: none;
    background: none;
    padding-left: 10px;
    text-decoration: none;
    outline: none;
}

#sidebar h5 i{

    border-radius: 53%;
    border: 1px solid greenyellow;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    align-content: center;

}

.wrapper #sidebar .list ul
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.wrapper #sidebar .list ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;

}
.wrapper #sidebar .list ul li
{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    flex: 1 100%;
    text-decoration: underline;
    margin-left: 20px;
    margin-top: 10px;
}
.wrapper #sidebar .list .drop{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.wrapper #sidebar .list ul li a:hover {
    background-color: green;
    border-radius: 5px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -5px;
    padding-left: 10px;
    cursor: pointer;

}
.wrapper #content .nav li a
{
    color: gray;
    text-decoration: none;
}

.wrapper #content .nav .nav-item
{

  flex-wrap: wrap;
  width: 200px;
  height: 50px;
  justify-content: space-between;
}

.wrapper #content .nav .nav-item .nav-link:hover{

    border-bottom: 3px solid green;
    color: black;
    font-weight: bolder;

}
.wrapper #content .nav .nav-item .nav-link.active{

    border-bottom: 3px solid green;
    color: black;
    font-weight: bolder;

}

.wrapper #content table tbody tr td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    width: 350px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border: none;
    padding-left: 5%;
    align-items: center;
    vertical-align: middle;
}

.wrapper #content{
    width: 100%;
    /* border-right: 1px solid #000; */
}

.wrapper #content table thead{
padding: 10px;
text-align: center;
background-color: rgb(135, 188, 57);
color: white;

}

#content #updateButton{
    color: #000;
    border: none;
    background-color: #fff;
    margin-left: 30px;
    outline: none;
}
#content #updateButton i{
    color: greenyellow;
    border-radius: 50%;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-right: 9px;
    /* padding: 2px 0 6px 5px;  */
    background-color: black;
    font-size: 30px;
}

.btn-secondary{
    margin-left: 70%;
}

.btn{
    padding: 10px 30px 10px 30px;
    border-radius: 100px;
    color: white;
    font-weight: bolder;
}

#content .pagination li a
{
    text-align: center;
    color: #000;
    text-decoration: none;
    list-style: none;
    font-size: 10px;
    font-weight: bolder;
    margin-right:-20px;

}

