<!-- Financial planning html -->
<!doctype html>
<html lang="en">
{% load static %}
{% load custom_template_tags %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 10px;
  left: 1.9px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
</style>

  <!-- Bootstrap & CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- w3 cSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <title>Form</title>

</head>

<body class="content-font bg-light">
  <!-- Just an image -->
  <nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" target="_blank">
        <img src="{% static 'images/logo1.png' %}" width=130 height="25" class="d-inline-block align-top" alt="">
      </a></div>
  </nav>

  <div class="container mt-5 rounded">
    <div class="row text-center">
      <div class="col-3">
        <img src="{% static 'images/checkbox3.svg' %}" height="150" alt="">
      </div>
      <div class="col-6">
        <p class="text-muted"><b>Financial Planning</b><br>
Financial planning refers to the effective and efficient planning, organizing, directing, and controlling the financial activities and processes of an organization. This includes fund procurement, allocation of financial resources, utilization of funds, etc., apart from various other functions.
        <br><br>
        <B> Note:</B> Please ensure to put appropriate comments if you do not wish to respond to any question. </p>
      </div>
      <div class="col-3 text-center">
        <img src="{% static 'images/checkbox.svg' %}" height="150" alt="">
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-3">
        <div class="shadow-sm bg-white p-1 text-center breadcrumb-size round-edge">
          Governance <i class=" mx-1 me-1 fa fa-chevron-circle-right"></i>
        </div>

      </div>
      <div class="col-3">
        <div class="shadow-sm bg-white p-1 text-center breadcrumb-size round-edge">
          Demand Management <i class=" mx-1 me-1 fa fa-chevron-circle-right icon-color"></i>
        </div>

      </div>
      <div class="col-3">
        <div class="shadow-sm bg-white p-1 text-center breadcrumb-size round-edge">
          Resource Planning <i class=" mx-1 me-1 fa fa-chevron-circle-right icon-color"></i>
        </div>

      </div>
      <div class="col-3">
        <div style = "background-color:#86BC25; color: white" class="shadow-sm p-1 text-center breadcrumb-size round-edge">
          Financial Planning<i class=" mx-1 me-1 fa fa-chevron-circle-right icon-color"></i>
        </div>

      </div>
<!--      <div class="col-2">-->
<!--        <div class="shadow-sm bg-white p-1 text-center breadcrumb-size round-edge">-->
<!--          Reviews<i class=" mx-1 me-1 fa fa-chevron-circle-right icon-color"></i>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="col-2">-->
<!--        <div class="shadow-sm bg-white p-1 text-center breadcrumb-size round-edge">-->
<!--          Measurement<i class=" mx-1 me-1 fa fa-chevron-circle-right icon-color"></i>-->
<!--        </div>-->

<!--      </div>-->
    </div>
  </div>
  {% setvar desig as client_designation %}
  {% setvar email as client_email %}
  {% setvar chosen_topic as client_chosen_topic %}

  <form action="{% url 'fifth_section_page' client_email client_designation client_chosen_topic%}" method="POST" enctype="multipart/form-data">
  <div class="container shadow-sm p-3 mb-5 bg-white rounded mt-4">
    {% for item in query_results %}
      {% csrf_token %}
    <div class="row">
      <div class="col-7">
<!--        <p class="text-muted">-->
          {{ item.question }}
<!--        </p>-->
        {% if not forloop.last %}
          <hr noshade>
        {%endif%}
      </div>

      <div class="col-1" >
        <!-- Rounded switch -->
        <label class="switch">
<!--          <input type="checkbox" name={{item.id}} value="Yes">-->
          <input type="checkbox" id="resp_{{item.id}}" class ="checkbox{{item.id}}">
          <span class="slider round"></span>
        </label>
        <br>
      </div>
      <div class="form-group col-4">
<!--        <label for="exampleFormControlTextarea1">Comments</label>-->
        <input style = "font-size:10px" type="textarea" id="textarea1_{{item.id}}" rows="2" name="content" placeholder="*Comments" class = "inputBox{{item.id}}">

        </div>
    </div>
     <script src="https://code.jquery.com/jquery-3.3.1.js"></script> <!-- Import Jquery Here-->
    <script type="text/javascript">
    $(document).ready(function() {
        $('.inputBox' + {{item.id}}).attr('required','required');
        if ($('.checkbox' + {{item.id}}).is(':checked')){
            if ($('.inputBox' + {{item.id}}).attr('required')) {
               $('.inputBox' + {{item.id}}).removeAttr('required');
            }
        }
        $('.checkbox' + {{item.id}}).change(function() {
            if ($('.inputBox' + {{item.id}}).attr('required')) {
               $('.inputBox' + {{item.id}}).removeAttr('required');
            }
            else {
               $('.inputBox' + {{item.id}}).attr('required','required');
            }
        });
    });
    $(document).ready(function() {
        $('#resp_' + {{item.id}}).change(function() {
            $.post("/second_section_toggle/", {
                id: '{{item.id}}',
                client_email: '{{email}}',
                response: this.checked,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            });
        });
    });
    $(document).ready(function() {
            $('#textarea1_' + {{item.id}}).change(function() {
            $.post("/second_commentSubmit/", {
                id: '{{item.id}}',
                client_email: '{{email}}',
                comment: this.value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            });
        });
     });
    </script>
        {% endfor %}
  </div>

  <div class="container text-center">
    <button type="submit" class="login-button btn mt-4 text-white">Save And Continue<i class="fa fa-arrow-right me-2 mx-2"></i></button>
    <button type="submit" formnovalidate class="login-button btn mt-4 text-white">Skip<i class="fa fa-arrow-right me-1 mx-1"></i></button>
  </div>
    <br>
  </form>
</body>


</html>